body {
  background-color: pink;
}

/*7680px –dən 480px -ə qədər*/

@media screen and (min-width: 480px) {
  body {
    background-color: #773ffb;
  }
}

.flex-container {
  width: 220px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  align-items: center;
}
.flex-container div {
  flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.div1 {
  background-color: blue;
  padding: 10px;
  min-height: 30px;
}
.div2 {
  background-color: green;
  padding: 10px;
  min-height: 50px;
}
.div3 {
  background-color: red;
  padding: 10px;
  min-height: 190px;
}

/* display flex align-items: stretch istiqameti*/

.flex-container1 {
  width: 100px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  align-items: stretch;
}

.flex-container1 div {
  flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.div4 {
  background-color: blue;
  padding: 10px;
  min-height: 30px;
}
.div5 {
  background-color: green;
  padding: 10px;
  min-height: 40px;
}
.div6 {
  background-color: red;
  padding: 10px;
  min-height: 130px;
}

/* display flex align-items: baseline istiqameti*/

.flex-container2 {
  width: 100px;
  height: 200px;
  border: 1px solid black;
  display: flex;
  align-items: baseline;
}

.flex-container2 div {
  flex: 1;
  border: 1px solid black;
  display: flex;
  align-items: center;
}

.div7 {
  background-color: blue;
  padding: 10px;
  min-height: 30px;
}
.div8 {
  background-color: green;
  padding: 10px;
  min-height: 40px;
}
.div9 {
  background-color: red;
  padding: 10px;
  min-height: 130px;
}

/*Flex-grow*/

#main {
  width: 350px;
  height: 100px;
  border: 1px solid #c3c3c3;
  display: flex;
}
#main div:nth-of-type(1) {
  flex-grow: 1;
}
#main div:nth-of-type(2) {
  flex-grow: 3;
}
#main div:nth-of-type(3) {
  flex-grow: 1;
}
#main div:nth-of-type(4) {
  flex-grow: 1;
}
#main div:nth-of-type(5) {
  flex-grow: 1;
}
/*Flex-shrink*/

#main {
  width: 350px;
  height: 100px;
  border: 1px solid #c3c3c3;
  display: flex;
}

#main div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}

#main div:nth-of-type(2) {
  flex-shrink: 3;
}
